.wrapper{
	display: flex;
	width: 1200px;
	margin: 0 auto;
}
ul{
	border: 1px solid #ccc;
	padding: 15px 0px 15px 15px;
	border-right: none;
	border-left: none;
}
li{
	list-style-type: none;
}
h4{
	border-bottom: 1px solid #000;
	width: 100%;
}
